.genSin {
  height: 100vh;
}
.signinContainer {
  width: 600px;
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  margin-top: 30px;
  color: white;
}
.signinContainer p {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  padding-bottom: 5px;
}
.signinContainer h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 15px;
}

.signinContainer input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: #494544;
  color: #fff;
  font-size: 18px;
  padding: 0 10px;
  margin-bottom: 15px;
}
.signUpContainer p {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  padding-bottom: 5px;
}
.link {
  color: rgba(255, 255, 255, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
}
.link span {
  font-weight: 400;
  font-size: 14px;
  cursor: default;
}
.link p {
  padding: 0;
  padding-left: 15px;
  margin: 0;
}
.link p:hover {
  color: #72a479;
}
.signInBtn {
  width: 210px;
  height: 50px;
  background-color: #27a338;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 15px auto;
  color: #fff;
}
.signInBtn:disabled {
  background-color: #a9adaa;
  cursor:not-allowed
}
.signinBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.signinBox h2 {
  text-align: center;
}

.validError {
  border: 1px solid red;
  box-shadow: 0px 0px 5px 0px red;
}

.validRight {
  border: 1px solid rgb(63, 44, 125);
  box-shadow: 0px 0px 5px 0px rgb(160, 240, 33);
}

.loginWait {
  text-align: center;
}

.loginErr {
  text-align: center;
  color: red;
}